
<style>
/**
 * Panda Syntax Theme for Highlight.js
 * Based on: https://github.com/tinkertrain/panda-syntax-vscode
 * Author: Annmarie Switzer <https://github.com/annmarie-switzer>
 *
 * modified to use important selectors and select the hljs element parent too
 */

:has(> .hljs), :has(> .hljs) * {
  color: #e6e6e6 !important;
  background-color: #2a2c2d !important;
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-strong {
  font-weight: bold !important;
}

.hljs-link {
  text-decoration: underline !important;
}

.hljs-comment, .hljs-quote {
  color: #bbbbbb !important;
  font-style: italic !important;
}

.hljs-params {
  color: #bbbbbb !important;
}

.hljs-punctuation, .hljs-attr {
  color: #e6e6e6 !important;
}

.hljs-selector-tag, .hljs-name, .hljs-meta {
  color: #ff4b82 !important;
}

.hljs-operator, .hljs-char.escape_ {
  color: #b084eb !important;
}

.hljs-keyword, .hljs-deletion {
  color: #ff75b5 !important;
}

.hljs-regexp, .hljs-selector-pseudo, .hljs-selector-attr, .hljs-variable.language_ {
  color: #ff9ac1 !important;
}

.hljs-subst, .hljs-property, .hljs-code, .hljs-formula, .hljs-section, .hljs-title.function_ {
  color: #45a9f9 !important;
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-selector-class, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-meta .hljs-string {
  color: #19f9d8 !important;
}

.hljs-variable, .hljs-template-variable, .hljs-number, .hljs-literal, .hljs-type, .hljs-link, .hljs-built_in, .hljs-title, .hljs-selector-id, .hljs-tag, .hljs-doctag, .hljs-attribute, .hljs-template-tag, .hljs-meta .hljs-keyword, .hljs-punctuation {
  color: #ffb86c !important;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<script>hljs.highlightAll();</script>
